body {
  /* background-color: palevioletred; */
  background-color: rgb(255, 255, 255);
  color: black;
}

h1 {
  background-color: rgba(255, 0, 0, 0.5);
}

/* hex 0123456789abcdef - #rrggbb */
.agenda {
  background-color: #10aded;
  color: #ffee88; /* #fe8 */
}

.telegram-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  letter-spacing: 5px;
  line-height: 30px;
  color: gold;
  background-color: #000;
}

.the-bozorlik {
  list-style: decimal-leading-zero;
}
